@import '../../../scss/colors';
@import '../../../scss/variables';

.nx-header.top-bar{
    background-color: $dark-blue;
    color: $white;
    height: $height-top-bar;
    
    .nx-header__app-title{
        border:0em;
        padding-left: 0em;
        margin-left: 0em;
    }

    .ps-plain-button{
        color:#cfcfcf;
        padding-left: 1em;
        &:hover{
            color:$white;
        }

        .ps-label{
            padding-left: 0.2em;
        }
    }
}   



.title{
    // display:block;
    // margin: auto 0em;
   
}

.np-row.nx-grid__row{
    flex:1;
}

.container {
    width: 100%;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    color:red;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }