<top-bar></top-bar>
<program-bar></program-bar>
<nx-icon
                    name="calendar"
                    aria-label="More information"
                ></nx-icon
            >
<nx-icon
                    name="info-circle-o"
                    aria-label="More information"
                ></nx-icon
            >
            <nx-icon
                    name="calendar"
                    aria-label="More information"
                ></nx-icon
            >
            <nx-icon
            name="bar"
            aria-label="More information"
        ></nx-icon
    >
  

