/* You can add global styles to this file, and also import other style files */

@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";
@import "../node_modules/@aposin/ng-aquila/themes/aposin.css";
// @import "@aposin/ng-aquila/css/normalize.css";


@import '../src/app/shared-module/scss/colors';
@import '../src/app/shared-module/scss/variables';

body {
    background-color: $white;
    color: $dark-blue;
}

.program-bar {
    .nx-expansion-panel__header-content:hover,
    .nx-expansion-panel__header-content {
        background-color: $white !important;
        color: $dark-blue !important;
        height: $height-program-bar !important;;
        box-shadow: 0 3px 8px 0 rgb(0 0 0 / 18%), 0 8px 19px 0 rgb(0 0 0 / 8%)!important;;
    }
}