<!-- <div class="program-bar">
<nx-expansion-panel >    
    <nx-expansion-panel-header>
        <nx-expansion-panel-title >Insurance details</nx-expansion-panel-title>
    </nx-expansion-panel-header>
    <h2 nxHeadline="subsection-small" class="nx-margin-bottom-2m">General</h2>
    <p nxCopytext="normal" class="nx-margin-bottom-2m">Lorem ipsum</p>
    <h2 nxHeadline="subsection-small" class="nx-margin-bottom-2m">
        What's included
    </h2>
    <p nxCopytext="normal">Lorem ipsum</p>
</nx-expansion-panel>
</div> -->
<nx-accordion class="program-bar" [ngStyle]="{'background-color':'red' }">
    <nx-expansion-panel>
        <nx-expansion-panel-header>
            <nx-expansion-panel-title
                >General information</nx-expansion-panel-title
            >
        </nx-expansion-panel-header>
        <h2 nxHeadline="subsection-medium" class="nx-margin-bottom-2m">
            What's important
        </h2>
        <p nxCopytext="normal">Lorem ipsum</p>
    </nx-expansion-panel>
    <div class="ab">
 hello
</div>
</nx-accordion>

